@charset "utf-8";
/* CSS Document */

.uppercase {
	text-transform:uppercase;
}

.top-left {
	float:left;
	vertical-align:top;
}

.text-box {
	width:100%;
	vertical-align:top;
	margin: 3px 3px 3px 3px;
}

input {
	width:100%;
	float:left;
	
}

div {
	margin:3px 0px 3px 0px;
}

